
#forcegraph .links line {
  stroke: #999;
  stroke-opacity: 0.6;
}

#forcegraph .node circle {
  stroke: #fff;
  stroke-width: 1.5px;
}

#forcegraph .node text {
  display: inline;
  font: 10px sans-serif;
}

#forcegraph .node circle:hover {
  fill: #000;
}

#forcegraph .node text:hover {
  display: inline;
}
